/* font-family: 'Amatic SC', cursive;
font-family: 'Averia Serif Libre', cursive;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Shrikhand', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik+Mono+One&family=Shrikhand&display=swap');

body {
  font-family: 'Averia Serif Libre', cursive;
  /* background-color: #DFFF00; */
  /* background-color: #80b918; */
  /* background-color: #e9ce2c; */
  background-color: #deaf13;
}
#gridContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}
#statContainer {
  text-align: right;
  padding-right: 10px;
  font-size: 14px;
  /* animation: fadeIn 1s ease-in;
  animation-fill-mode: forwards; */
}

#blurContainer {
  animation: blurIn 3s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 5s;
  opacity: 0;
  /* animation: fadeIn 1s ease-in;
  animation-fill-mode: forwards; */
}
@keyframes blurIn {
  0% { filter: blur(4px);
    opacity: 0;
  }
  50% { filter: blur(2px);
    opacity: 1;
  }
  100% { filter: blur(0px);
    opacity: 1;
  }
}
#title{
  font-size: 18px;
  padding-top: 44vh;
  opacity: 0;
  animation: fadeIn 2s linear;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
#visualizerContainer {
  position: relative;
  height: 96vh;
  border-left: 1px solid black;
}
.visualizerTextEntry {
  position: absolute;
  text-align: left;
  font-size: 12px;
}
#animationYellow {
  position: absolute;
  background-color: #deaf13;
  height: 100%;
  width: 101%;
  margin-left: -5px;
  animation: example 7s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: .75s;
}
@keyframes example {
  from {height: 100%;}
  to {height: 0%;}
}
.transparent {
  opacity: 0;
}